name: Validate Renovate config

on:
  push:
    branches:
      - $default-branch
    paths:
      - 'renovate.json'
  pull_request:
    branches:
      - $default-branch
    paths:
      - 'renovate.json'

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  validate-renovate-config:
    name: Validate Renovate config
    runs-on: self-hosted
    timeout-minutes: 5

    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Setup Node.js environment
        id: setup-node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: lts/*

      - name: Get npm cache directory
        id: npm-cache-dir
        shell: bash
        run: echo "dir=$(npm --global config get cache)" >> ${GITHUB_OUTPUT}

      - name: Get npm renovate version
        id: npm-renovate-version
        shell: bash
        run: echo "renovate-version=$(npm view renovate version)" >> ${GITHUB_OUTPUT}

      - name: global npm cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ${{ steps.npm-cache-dir.outputs.dir }}
          key: ${{ runner.os }}-node-${{ steps.setup-node.outputs.node-version }}-renovate-${{ steps.npm-renovate-version.outputs.renovate-version }}

      - name: Run renovate-config-validator
        run: npx -p renovate -c 'renovate-config-validator'
