name: Validate Renovate config

on:
  push:
    branches:
      - $default-branch
    paths:
      - 'renovate.json'
  pull_request:
    branches:
      - $default-branch
    paths:
      - 'renovate.json'

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  validate-renovate-config:
    name: Validate Renovate config
    runs-on: self-hosted
    timeout-minutes: 5

    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Node.js environment
        id: setup-node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: lts/*

      - name: Get npm cache directory
        id: npm-cache-dir
        shell: bash
        run: echo "dir=$(npm --global config get cache)" >> ${GITHUB_OUTPUT}

      - name: Get npm renovate version
        id: npm-renovate-version
        shell: bash
        run: echo "renovate-version=$(npm view renovate version)" >> ${GITHUB_OUTPUT}

      - name: global npm cache
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: ${{ steps.npm-cache-dir.outputs.dir }}
          key: ${{ runner.os }}-node-${{ steps.setup-node.outputs.node-version }}-renovate-${{ steps.npm-renovate-version.outputs.renovate-version }}

      - name: Run renovate-config-validator
        run: npx -p renovate -c 'renovate-config-validator'
